# Authenticate Google Colab
Allows access to Google Cloud and Google Drive using your credentials

In [12]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

# Retrieve BigQuery as a DataFrame
[Getting started with BigQuery](https://colab.research.google.com/notebooks/bigquery.ipynb)

### via magics

In [0]:
%%bigquery --project cptsrewards-hrd df
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`

In [4]:
df.head()

                   min_date                  max_date
0 2019-10-01 00:00:03+00:00 2019-12-31 23:53:48+00:00

### via google-cloud-bigquery

In [0]:
from google.cloud import bigquery

project_id = 'cptsrewards-hrd'
client = bigquery.Client(project=project_id)

query_string = """
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`
"""

df = client.query(query_string).to_dataframe()

In [14]:
df.head(2)

                                            visit_id  ...  isa_visit
0  20191125_288198384709436f967c8636c3f56a8b_1574...  ...          0
1  20191010_767e2e687af81cab7c656bb19da00555_1570...  ...          0
2  20191220_94dfdc2721cb43a1bb5ec4e654f22333_1576...  ...          0
3  20191216_fc0aa98fa5414153aff4c91942ba44a3_1576...  ...          0
4  20191012_4c45988e9fd3612cffe55c310edbc6db_1570...  ...          0

[5 rows x 35 columns]

### via pandas-gbq

In [0]:
import pandas as pd

project_id = 'cptsrewards-hrd'
query_string = """
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.samples.gsod`
"""

df = pd.io.gbq.read_gbq(query_string, project_id=project_id)

In [26]:
df.head(2)

                                            visit_id  ...  isa_visit
0  20191125_288198384709436f967c8636c3f56a8b_1574...  ...          0
1  20191010_767e2e687af81cab7c656bb19da00555_1570...  ...          0

[2 rows x 35 columns]

# Google Sheets
[External data: Local files, Drive, Sheets, and Cloud Storage](https://colab.research.google.com/notebooks/io.ipynb)
<br>
[From Pandas to Google Sheets](https://www.danielecook.com/from-pandas-to-google-sheets/)

### Export/Update Google Sheets

In [0]:
# Authenticate gspread
import gspread
from oauth2client.client import GoogleCredentials

gc = gspread.authorize(GoogleCredentials.get_application_default())

In [0]:
# Definte functions to transform pandas to google sheets
def iter_pd(df):
    for val in df.columns:
        yield val
    for row in df.to_numpy():
        for val in row:
            if pd.isna(val):
                yield ""
            else:
                yield val

def pandas_to_sheets(pandas_df, sheet, clear = True):
    # Casts all data as string to avoid loading to sheet problems
    df_string = pandas_df.astype('str')
    # Updates all values in a workbook to match a pandas dataframe
    if clear:
        sheet.clear()
    (row, col) = pandas_df.shape
    cells = sheet.range("A1:{}".format(gspread.utils.rowcol_to_a1(row + 1, col)))
    for cell, val in zip(cells, iter_pd(df_string)):
        cell.value = val
    sheet.update_cells(cells)

The spreadsheet key is the red part of the url as show below
<br>
![](https://miro.medium.com/max/1775/1*Hu8a8Lg2Zxyy_6LKjod_1Q.png)

In [0]:
# Set Workbook
wb = gc.open_by_key("example")
# Set Worksheet
target_sheet = wb.worksheet("testing")

pandas_to_sheets(df, target_sheet)

### Gspread Examples
[https://awesomeopensource.com/project/burnash/gspread](https://awesomeopensource.com/project/burnash/gspread)

#### Opening a Spreadsheet

In [0]:
# You can open a spreadsheet by its title as it appears in Google Docs
sh = gc.open('My poor gym results') # <-- Look ma, no keys!

# If you want to be specific, use a key (which can be extracted from
# the spreadsheet's url)
sht1 = gc.open_by_key('0BmgG6nO_6dprdS1MN3d3MkdPa142WFRrdnRRUWl1UFE')

# Or, if you feel really lazy to extract that key, paste the entire url
sht2 = gc.open_by_url('https://docs.google.com/spreadsheet/ccc?key=0Bm...FE&hl')

#### Creating a Spreadsheet

In [0]:
sh = gc.create('A new spreadsheet')

# But that new spreadsheet will be visible only to your script's account.
# To be able to access newly created spreadsheet you *must* share it

#### Selecting a Worksheet

In [0]:
# Select worksheet by index. Worksheet indexes start from zero
worksheet = sh.get_worksheet(0)

# By title
worksheet = sh.worksheet("January")

# Most common case: Sheet1
worksheet = sh.sheet1

# Get a list of all worksheets
worksheet_list = sh.worksheets()

#### Creating a Worksheet

In [0]:
worksheet = sh.add_worksheet(title="A worksheet", rows="100", cols="20")