# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary classifier.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title, and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use a random forest classifier, as well as another classifier of your choice; either logistic regression, SVM, or KNN. 

- **Question**: Why would we want this to be a classification problem?
- **Answer**: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters
- q for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- l for a location
- start for what result number to start on

In [227]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [228]:
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

Let's look at one result more closely. A single result looks like
```JSON
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&campaignid=serp-linkcompanyname&fromjk=2480d203f7e97210&jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a nobr element inside of a td element with class='snip.
- The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
- The location is set in a span with class='location'.
- The company is set in a span with class='company'.

In [229]:
#html = requests.get(URL)
#b = BeautifulSoup(html.text)
#print b.prettify()

In [230]:
# html = urllib.urlopen(url).read()
# soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")

In [231]:
# def get_page(url):
#     html = urllib.urlopen(url).read()
#     return html
#     #html = requests.get(ull)

In [232]:
# html = requests.get(URL)
# soup = BeautifulSoup(html)
# df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
# for each in soup.findAll('div', {'class':"  row  result" }):
#     try: 
#         title = each.find('hs', {'class':'jobtitle'}).text
#         print title
#     except:
#         title = 'asdfdsafdsafdsa'
#         print title

In [233]:
# soup = get_page(URL)
# soup

In [234]:
#def get_story(content):
   # b = BeautifulSoup(html.text,'html.parser')
   # return b.prettify()

In [235]:
#for each in soup.findAll(class_='jobtitle'):
#    print each.text

# def get_job(contents):
#     soup = BeautifulSoup(contents)
#     title = []
#     for each in soup.findAll(class_='jobtitle'):
#         title.append(each.text.replace('\n', ''))
#     return title

#def get_stories(content):
    #soup = BeautifulSoup(content)
    #titles = []

   # for td in soup.findAll("td", { "class":"title" }):
       # a_element = td.find("a")
        #if a_element:
            #titles.append(a_element.string)

    #return titles    
    #soup.find_all(class_='rest-row-name-text')   
#soupp = soup.find_all(class_='jobtitle')

In [236]:
# get_job(soup)

In [237]:
# def job_find(section):
#     try:
#         soup.find(class_='jobtitle')
#     except:

## Write 4 functions to extract these items (one function for each): location, company, job title, and salary.Â¶
Example
```python
def extract_location_from_result(result):
    return result.find ...
```

##### - Make sure these functions are robust and can handle cases where the data/field may not be available.
>- Remember to check if a field is empty or None for attempting to call methods on it
>- Remember to use try/except if you anticipate errors.

- **Test** the functions on the results above and simple examples

In [238]:
### Rithika suggested I merge all of the find_alls into one large function, so the code below was created with her assistance. 

def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text
        except:
            salary = 'None'
        synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
    return df

In [239]:
parse(URL)

,Title,Location,Company,Salary,Synopsis
0,Data Scientist - Big Data & Analytics,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Data Scientist - B...
1,Data Scientist,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Data Scientist to ...
2,Scientist - Business Process Modeling and Simu...,"New York, NY",AIG,None,AIG Science is the hub for decision sciences a...
3,Entry Level â Research Analyst/Editor/Content ...,"New York, NY 10017 (Midtown area)","XG Consultants Group, Inc.",$15 an hour,Job Overview: XG Consultants Group is looking ...
4,Machine Learning Engineer,"Armonk, NY",IBM,None,Create tools for data ingestion and processing...
5,Associate Data Scientist,"New York, NY",ITL USA,None,Infosys â Analytics â US - Senior Associate - ...
6,Data Scientist,"New York, NY",MetroPlus Health Plan,"$90,000 - $115,000 a year",The Data Scientist will be tasked with leading...
7,Data Scientist,"New York, NY",Blue State Digital,None,Use data to build a better world. You will be ...
8,"Database Analyst, Junior","New York, NY",NYU Langone Health,None,Collects and enters data into data registries ...
9,Data Scientist,"New York, NY 10012 (Little Italy area)",Meetup,None,"3+ years working with data analytics, data war..."
10,Data Scientist,"New York, NY",ThreatMetrix,None,"As a Data Scientist, youâll use data from the ..."
11,Ipsos Behavioral Data Group - Behavioral Data ...,"New York, NY",Ipsos North America,None,We are the Ipsos Behavioral Data Group. Weâre ...
12,Senior NLP Data Scientist,"New York, NY",Elevano,None,Parsing of structured/unstructured data. Our c...
13,Data Scientist | NYC,"New York, NY",Avanade,None,"Design, implement and deploy ETL to load data ..."
14,Healthcare & Life Sciences - Data Scientist,"New York, NY 10154",KPMG,None,KPMG is currently seeking a Healthcare & Life ...

In [240]:
#html = requests.get(URL)
#b = BeautifulSoup(html.text)
#print b.prettify()
#b is result

In [241]:
#def extract_title(result):
    #return [each.text.replace('\n', '') for each in result.find_all(class_='jobtitle')]

In [242]:
#extract_title(b)

In [243]:
# def get_location(contents):
#     soup = BeautifulSoup(contents)
#     location = []
#     for each in soup.findAll('span', {'class':"location" }):
#         location.append(each.text.replace('\n', ''))
#     return location

In [244]:
# get_location(soup)

In [245]:
#def extract_location(result):
    #return [each.text for each in result.find_all('span', {'class':"location" })]
#return [each.text for each in result.find_all('span', {'class':"location" })]

In [246]:
#def extract_locationn(result):
    #return [each.text for each in result.find_all('span', {'itemprop': 'addressLocality'})]
#    locs = []
#    for each in result.find_all('span', {'itemprop': 'addressLocality'}):
#        if each.text:
#            locs.append(each)
#        else:
#            locs.append('NaN')
#    return locs
    #return result.find_all('span', {'itemprop': 'addressLocality'})

In [247]:
#locs = extract_location(b)
#locs

In [248]:
#extract_locationn(b)

In [249]:
# def get_company(contents):
#     soup = BeautifulSoup(contents)
#     company = []
#     for each in soup.find_all(class_='company'):
#         company.append(each.text.replace('\n', ''))
#     return company

In [250]:
# get_company(soup)

In [251]:
#def extract_company(result):
    #return [each.text.replace('\n', '') for each in result.find_all(class_='company')]
#return [each.text for each in result.find_all(class_='company')]

In [252]:
#coms = extract_company(b)
#coms

In [253]:
# def get_salary(contents):
#     soup = BeautifulSoup(contents)
#     salary = []
#     for each in soup:  
#         try:
#             a = soup.find_all('span', class_='no-wrap')
#             salary.append(a.renderContents)
#         except: 
#             salary.append('None')
#     return salary
       
# def get_salary(contents):
#     soup = BeautifulSoup(contents)
#     salary = []
#     for each in soup.findAll('div', {'class':"  row  result" }):
#         try: 
#             soup.find('span', class_='no-wrap')
#             salary.append(each.text)
#         except: 
#             salary.append('NA')
#     return salary
    
    
    
        #match = re.search('[+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})?', each.text)
        #if match:
            #salary.append(match)
        #elif mathc = each.findAll(r'', each.text)
        #else:
            #salary.append(None)
    #return salary

In [254]:
# get_salary(soup)

In [255]:
# def extract_salary(result):
#     salaries = []
#     for each in result.find_all('td', class_='snip'):
#         match = re.find_all(r'[\$][+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})', each.text)
#         if match:
#             salaries.append(match)
#         else:
#             salaries.append(None)
#     return salaries
    #return [each.text.replace('\n', '') for each in result.find_all(class_='snip')]

#for booking in html.find_all('div', {'class':'booking'}):
    # match all digits
    #match = re.search(r'\d+', booking.text)

In [256]:
# extract_salary(b)

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.
- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the l=New+York and the start=10. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).
##### Complete the following code to collect results from multiple cities and starting points.
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [258]:
YOUR_CITY = 'Washington%2C+DC'

In [266]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 1000 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

i = 0

results = []
df_more = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])

for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY, 
    'Charlottesville', 'Richmond', 'Baltimore', 'Harrisonburg', 'San+Antonio', 'San+Diego', 'San+Jose'
    'Austin', 'Jacksonville', 'Indianapolis', 'Columbus', 'Fort+Worth', 'Charlotte', 'Detroit', 'El+Paso', 
    'Memphis', 'Boston', 'Nashville', 'Louisville', 'Milwaukee', 'Las+Vegas', 'Albuquerque', 'Tucson', 
    'Fresno', 'Sacramento', 'Long+Beach', 'Mesa', 'Virginia+Beach', 'Norfolk', 'Atlanta', 'Colorado+Springs',
    'Raleigh', 'Omaha', 'Oakland', 'Tulsa', 'Minneapolis', 'Cleveland', 'Wichita', 'Arlington', 'New+Orleans', 
    'Bakersfield', 'Tampa', 'Honolulu', 'Anaheim', 'Aurora', 'Santa+Ana', 'Riverside', 'Corpus+Christi', 'Pittsburgh', 
    'Lexington', 'Anchorage', 'Cincinnati', 'Baton+Rouge', 'Chesapeake', 'Alexandria', 'Fairfax', 'Herndon',
    'Reston', 'Roanoke']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = url_template.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.replace('\n', '')
            except:
                title = None
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            try: 
                company = each.find(class_='company').text.replace('\n', '')
            except:
                company = None
            try:
                salary = each.find('span', {'class':'no-wrap'}).text
            except:
                salary = None
            try:
                synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
            except:
                synopsis = None
            df_more = df_more.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
            i += 1
            if i % 1000 == 0:  # Ram helped me build this counter to see how many. You can visibly see Ram's vernacular in the print statements.
                print('You have ' + str(i) + ' results. ' + str(df_more.dropna().drop_duplicates().shape[0]) + " of these aren't rubbish.")

You have 1000 results. 13 of these aren't rubbish.
You have 2000 results. 61 of these aren't rubbish.
You have 3000 results. 66 of these aren't rubbish.
You have 4000 results. 243 of these aren't rubbish.
You have 5000 results. 432 of these aren't rubbish.
You have 6000 results. 882 of these aren't rubbish.
You have 7000 results. 1415 of these aren't rubbish.
You have 8000 results. 1416 of these aren't rubbish.
You have 9000 results. 1862 of these aren't rubbish.
You have 10000 results. 2037 of these aren't rubbish.
You have 11000 results. 2190 of these aren't rubbish.
You have 12000 results. 2257 of these aren't rubbish.
You have 13000 results. 2274 of these aren't rubbish.
You have 14000 results. 2307 of these aren't rubbish.
You have 15000 results. 2307 of these aren't rubbish.
You have 16000 results. 2332 of these aren't rubbish.
You have 17000 results. 2379 of these aren't rubbish.
You have 18000 results. 2488 of these aren't rubbish.
You have 19000 results. 2488 of these aren't rubbish.
You have 20000 results. 2564 of these aren't rubbish.
You have 21000 results. 2564 of these aren't rubbish.
You have 22000 results. 2647 of these aren't rubbish.
You have 23000 results. 2647 of these aren't rubbish.
You have 24000 results. 3180 of these aren't rubbish.
You have 25000 results. 3543 of these aren't rubbish.
You have 26000 results. 3543 of these aren't rubbish.
You have 27000 results. 3718 of these aren't rubbish.
You have 28000 results. 3737 of these aren't rubbish.
You have 29000 results. 3737 of these aren't rubbish.
You have 30000 results. 3792 of these aren't rubbish.
You have 31000 results. 3926 of these aren't rubbish.
You have 32000 results. 3926 of these aren't rubbish.
You have 33000 results. 3935 of these aren't rubbish.
You have 34000 results. 4023 of these aren't rubbish.
You have 35000 results. 4039 of these aren't rubbish.
You have 36000 results. 4099 of these aren't rubbish.
You have 37000 results. 4325 of these aren't rubbish.
You have 38000 results. 4350 of these aren't rubbish.
You have 39000 results. 4378 of these aren't rubbish.
You have 40000 results. 4408 of these aren't rubbish.
You have 41000 results. 4548 of these aren't rubbish.
You have 42000 results. 4631 of these aren't rubbish.
You have 43000 results. 4651 of these aren't rubbish.
You have 44000 results. 4652 of these aren't rubbish.
You have 45000 results. 4687 of these aren't rubbish.
You have 46000 results. 4721 of these aren't rubbish.
You have 47000 results. 4791 of these aren't rubbish.
You have 48000 results. 4793 of these aren't rubbish.
You have 49000 results. 4878 of these aren't rubbish.
You have 50000 results. 4890 of these aren't rubbish.
You have 51000 results. 4890 of these aren't rubbish.
You have 52000 results. 4890 of these aren't rubbish.
You have 53000 results. 4950 of these aren't rubbish.
You have 54000 results. 4962 of these aren't rubbish.
You have 55000 results. 4962 of these aren't rubbish.
You have 56000 results. 4975 of these aren't rubbish.
You have 57000 results. 5120 of these aren't rubbish.
You have 58000 results. 5135 of these aren't rubbish.
You have 59000 results. 5536 of these aren't rubbish.
You have 60000 results. 5657 of these aren't rubbish.
You have 61000 results. 5657 of these aren't rubbish.
You have 62000 results. 5685 of these aren't rubbish.
You have 63000 results. 5892 of these aren't rubbish.
You have 64000 results. 5937 of these aren't rubbish.
You have 65000 results. 6079 of these aren't rubbish.
You have 66000 results. 6100 of these aren't rubbish.
You have 67000 results. 6100 of these aren't rubbish.
You have 68000 results. 6104 of these aren't rubbish.
You have 69000 results. 6284 of these aren't rubbish.
You have 70000 results. 6795 of these aren't rubbish.
You have 71000 results. 6929 of these aren't rubbish.
You have 72000 results. 7034 of these aren't rubbish.
You have 73000 results. 7116 of these aren't rubbish.
You have 74000 results. 7289 of these aren't rubbish.
You have 75000 results. 7315 of these aren't rubbish.
You have 76000 results. 7477 of these aren't rubbish.
You have 77000 results. 7613 of these aren't rubbish.
You have 78000 results. 7625 of these aren't rubbish.
You have 79000 results. 7628 of these aren't rubbish.
You have 80000 results. 7639 of these aren't rubbish.
You have 81000 results. 7639 of these aren't rubbish.
You have 82000 results. 7642 of these aren't rubbish.
You have 83000 results. 7838 of these aren't rubbish.
You have 84000 results. 8343 of these aren't rubbish.
You have 85000 results. 8459 of these aren't rubbish.
You have 86000 results. 8613 of these aren't rubbish.
You have 87000 results. 8613 of these aren't rubbish.
You have 88000 results. 8641 of these aren't rubbish.
You have 89000 results. 8868 of these aren't rubbish.
You have 90000 results. 8992 of these aren't rubbish.
You have 91000 results. 8992 of these aren't rubbish.
You have 92000 results. 9140 of these aren't rubbish.
You have 93000 results. 9150 of these aren't rubbish.
You have 94000 results. 9193 of these aren't rubbish.
You have 95000 results. 9196 of these aren't rubbish.
You have 96000 results. 9233 of these aren't rubbish.
You have 97000 results. 9262 of these aren't rubbish.
You have 98000 results. 9368 of these aren't rubbish.
You have 99000 results. 9394 of these aren't rubbish.
You have 100000 results. 9878 of these aren't rubbish.

In [267]:
#df_more.to_csv('Indeed_Project_3_df_more_short.csv', encoding='utf-8')

In [844]:
df_more = pd.read_csv('/Users/aakashtandel/Desktop/Indeed_Project_3_df_more_short.csv')

In [845]:
df_more.shape

(100465, 6)

In [846]:
df_more[df_more.Salary != 'None'].shape

(7695, 6)

In [847]:
df_more.tail()

,Unnamed: 0,Title,Location,Company,Salary,Synopsis
100460,100460,"Manager/Sr. Manager, Diagnostics & Biomarkers","Bothell, WA 98021",Seattle Genetics,None,"In collaboration with Bioinformatics, Data Man..."
100461,100461,"Postdoctoral Research Scientist, Digital Anthr...","Redmond, WA",Oculus VR,None,"3+ years experience with MAXQDA, Noldus Observ..."
100462,100462,Product Scientist,"Seattle, WA",Indeed,None,Work alongside other data scientists and softw...
100463,100463,Data Scientist - Operations,"Seattle, WA",Redfin,None,"As a Data Scientist, focused on our Brokerage ..."
100464,100464,Data Scientist II,"Seattle, WA 98119",Big Fish Games,None,Understand and consume data from dimensional m...

In [848]:
df_more.drop('Unnamed: 0', inplace=True, axis=1)

In [849]:
#df.Salary.value_counts(dropna=False)

In [850]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
0,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
1,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
2,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
3,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
4,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."

In [851]:
df_more.drop_duplicates

<bound method DataFrame.drop_duplicates of                                                     Title  \
0                                 Environmental Scientist
1                                   Systems Administrator
2                                          Senior Manager
3                         Software Engineering Specialist
4                              Sr Staff Software Engineer
5                                 Staff Software Engineer
6       Pharmaceutical Sales Specialist -- Hospital Ca...
7                  Staff Software Engineer - UI Front End
8       Senior Software Engineer - Python (relo required)
9                       Russian Linguist/Research Analyst
10                       Senior Control Engineer, LabVIEW
11      Occupational Medicine Consultant (Relocation t...
12              Marketing Integration & Opportunity (MIO)
13                                  Systems Administrator
14                                         Senior Manager
15                        Software Engineering Specialist
16                             Sr Staff Software Engineer
17                                Staff Software Engineer
18      Pharmaceutical Sales Specialist -- Hospital Ca...
19                 Staff Software Engineer - UI Front End
20                                Environmental Scientist
21                      Russian Linguist/Research Analyst
22      Senior Software Engineer - Python (relo required)
23                       Senior Control Engineer, LabVIEW
24      Occupational Medicine Consultant (Relocation t...
25              Marketing Integration & Opportunity (MIO)
26                                  Systems Administrator
27                                         Senior Manager
28                        Software Engineering Specialist
29                             Sr Staff Software Engineer
...                                                   ...
100435                                  Data Scientist II
100436                           Principal Data Scientist
100437                                  Product Scientist
100438                  Part-time Data Science Instructor
100439         Data Visualization Tools Engineer- Seattle
100440                 Scientific Data Engineer - Level I
100441                           Data Analyst (Marketing)
100442                       SR PRODUCT MARKETING MANAGER
100443                          EPIC CORE SYSTEMS MANAGER
100444                      RS/E 3-FIELD SERVICE ENGINEER
100445  Software Development Engineer III, AWS Machine...
100446                            Data Science Instructor
100447                                  Sr. Data Engineer
100448                                     Data Scientist
100449                        Data Scientist - Operations
100450                                     Data Scientist
100451                           Principal Data Scientist
100452                            Data Science Instructor
100453  Postdoctoral Research Scientist, Perceptual Hu...
100454                Software Engineer: Machine Learning
100455  senior product designer, Digital Products, Sta...
100456                                     Data Scientist
100457                            Data Scientist (Growth)
100458                                  Sr. Data Engineer
100459  Postdoctoral Research Scientist, Perceptual Hu...
100460      Manager/Sr. Manager, Diagnostics & Biomarkers
100461  Postdoctoral Research Scientist, Digital Anthr...
100462                                  Product Scientist
100463                        Data Scientist - Operations
100464                                  Data Scientist II

                                                 Location  \
0                                          Blacksburg, VA
1                                              Forest, VA
2                                           United States
3                                       Roanoke, VA 24019
4                                       Roanoke, VA 24019
5                                       Roanoke, VA 24019
6                                             Roanoke, VA
7                                       Roanoke, VA 24019
8                                           United States
9                                                Virginia
10                                          United States
11                                          United States
12                                          United States
13                                             Forest, VA
14                                          United States
15                                      Roanoke, VA 24019
16                                      Roanoke, VA 24019
17                                      Roanoke, VA 24019
18                                            Roanoke, VA
19                                      Roanoke, VA 24019
20                                         Blacksburg, VA
21                                               Virginia
22                                          United States
23                                          United States
24                                          United States
25                                          United States
26                                             Forest, VA
27                                          United States
28                                      Roanoke, VA 24019
29                                      Roanoke, VA 24019
...                                                   ...
100435                                  Seattle, WA 98119
100436                                  Seattle, WA 98101
100437                                        Seattle, WA
100438                  Seattle, WA 98121 (Belltown area)
100439                                        Seattle, WA
100440  Seattle, WA 98103 (Green Lake - Wallingford area)
100441                                        Seattle, WA
100442                                  Redmond, WA 98052
100443                                        Seattle, WA
100444                                        Seattle, WA
100445                                        Seattle, WA
100446                  Seattle, WA 98121 (Belltown area)
100447                 Bellevue, WA 98004 (Downtown area)
100448                                  Seattle, WA 98104
100449                                        Seattle, WA
100450                                  Seattle, WA 98104
100451                                  Seattle, WA 98101
100452                  Seattle, WA 98121 (Belltown area)
100453                                        Redmond, WA
100454                                       Bellevue, WA
100455       Seattle, WA 98134 (Industrial District area)
100456                                       Bellevue, WA
100457                                       Bellevue, WA
100458                 Bellevue, WA 98004 (Downtown area)
100459                                        Redmond, WA
100460                                  Bothell, WA 98021
100461                                        Redmond, WA
100462                                        Seattle, WA
100463                                        Seattle, WA
100464                                  Seattle, WA 98119

                                            Company Salary  \
0                                       CyberCoders   None
1                            Innerspec Technologies   None
2                                          Exponent   None
3                                  General Electric   None
4                                  General Electric   None
5                                  General Electric   None
6                                       AstraZeneca   None
7                                  General Electric   None
8                             Spoken Communications   None
9                                 Centra Technology   None
10                                 Tri Alpha Energy   None
11                                     Saudi Aramco   None
12                                            Yahoo   None
13                           Innerspec Technologies   None
14                                         Exponent   None
15                                 General Electric   None
16                                 General Electric   None
17                                 General Electric   None
18                                      AstraZeneca   None
19                                 General Electric   None
20                                      CyberCoders   None
21                                Centra Technology   None
22                            Spoken Communications   None
23                                 Tri Alpha Energy   None
24                                     Saudi Aramco   None
25                                            Yahoo   None
26                           Innerspec Technologies   None
27                                         Exponent   None
28                                 General Electric   None
29                                 General Electric   None
...                                             ...    ...
100435                               Big Fish Games   None
100436                                       Zillow   None
100437                                       Indeed   None
100438                             General Assembly   None
100439                                     Zymergen   None
100440                              Allen Institute   None
100441                                      Coupang   None
100442                                    Microsoft   None
100443                     University of Washington   None
100444      University of Washington Medical Center   None
100445                         Amazon Corporate LLC   None
100446                             General Assembly   None
100447                          Vega Consulting LLC   None
100448                                         KPMG   None
100449                                       Redfin   None
100450                                         KPMG   None
100451                                       Zillow   None
100452                             General Assembly   None
100453                                     Facebook   None
100454                                    Postmates   None
100455                                    Starbucks   None
100456                                    Postmates   None
100457                                    Postmates   None
100458                          Vega Consulting LLC   None
100459                                    Oculus VR   None
100460                             Seattle Genetics   None
100461                                    Oculus VR   None
100462                                       Indeed   None
100463                                       Redfin   None
100464                               Big Fish Games   None

                                                 Synopsis
0       Environmental Scientist If you are an Environm...
1       Manage backup and restore services to ensure t...
2       Providing case management, data processing, an...
3       You will work with a group of energized and fo...
4       Architects, Data Scientists, Businesses & Prod...
5       Architects, Data Scientists, Businesses & Prod...
6       Experience working with Medical Information Sc...
7       Architects, Data Scientists, Businesses & Prod...
8       You'll find yourself collaborating with world-...
9       CENTRA Technology, Inc. has an immediate openi...
10      Networking using Ethernet, EtherNet/IP, Data D...
11      Analyze and interpret statistical data for eva...
12      We strive for industry-leading work in a diver...
13      Manage backup and restore services to ensure t...
14      Providing case management, data processing, an...
15      You will work with a group of energized and fo...
16      Architects, Data Scientists, Businesses & Prod...
17      Architects, Data Scientists, Businesses & Prod...
18      Experience working with Medical Information Sc...
19      Architects, Data Scientists, Businesses & Prod...
20      Environmental Scientist If you are an Environm...
21      CENTRA Technology, Inc. has an immediate openi...
22      You'll find yourself collaborating with world-...
23      Networking using Ethernet, EtherNet/IP, Data D...
24      Analyze and interpret statistical data for eva...
25      We strive for industry-leading work in a diver...
26      Manage backup and restore services to ensure t...
27      Providing case management, data processing, an...
28      You will work with a group of energized and fo...
29      Architects, Data Scientists, Businesses & Prod...
...                                                   ...
100435  Understand and consume data from dimensional m...
100436  Experience mentoring/leading other data scient...
100437  Work alongside other data scientists and softw...
100438  Python, Machine Learning, Probability, Statist...
100439  Data Visualization Tools Engineer. You will be...
100440  They will additionally support integration of ...
100441  Dive deep into Coupangâs customer demographic ...
100442  In this highly visible role, you will define a...
100443  Epic User Access and Security, Epic Environmen...
100444  Communications/networking, electromagnetics/re...
100445  Experience with data mining tools and techniqu...
100446  We are looking for a Data Scientist to teach o...
100447  Experience in data modeling and transformation...
100448  Retrieve, process and prepare a rich data vari...
100449  As a Data Scientist, focused on our Brokerage ...
100450  Retrieve, process and prepare a rich data vari...
100451  Experience mentoring/leading other data scient...
100452  We are looking for a Data Scientist to teach o...
100453  As a Post-doctoral Research Scientist, you wil...
100454  Youâll also ensure that data is easy to access...
100455  Work with data scientists and user researchers...
100456  As a Data Scientist, you will help us unlock i...
100457  As a Growth Marketing Data Scientist you will ...
100458  Experience in data modeling and transformation...
100459  As a Post-doctoral Research Scientist, you wil...
100460  In collaboration with Bioinformatics, Data Man...
100461  3+ years experience with MAXQDA, Noldus Observ...
100462  Work alongside other data scientists and softw...
100463  As a Data Scientist, focused on our Brokerage ...
100464  Understand and consume data from dimensional m...

[100465 rows x 5 columns]>

In [852]:
df_more.shape

(100465, 5)

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [835]:
# import pandas as pd
# indeed_frame = pd.DataFrame(columns=["title","location","company","salary"])

In [725]:
# title = []
# location = []
# company = []
# salary = []
# for each in results:
#     title.append(extract_title(each))
#     location.append(extract_location(each))
#     company.append(extract_company(each))
#     salary.append(extract_salary(each))
# #dc_eats.loc[len(dc_eats)]=[name, location, compay, bookings]
# indeed_frame = {'title':title, 'location':location, 'company':company, 'salary':salary}

In [726]:
# indeed_frame

In [727]:
# def parser(url):
#     for each in url.find_all('div', {'class':'  row  result'}):
#         titlee = each.find_all(class_='jobtitle')
#         title = titlee.text.replace('\n', '')
#         locationn = result.find_all('span', {'class':"location" })
#         location = locationn.text
#         companyy = result.find_all(class_='company')
#         company = companyy.text.replace('\n', '')
#         match = re.findall(r'[\$][+-]?[0-9]{1,3}(?:,?[0-9]{3})*(?:\.[0-9]{2})', each.text)
#         salary = []
#         if match:
#             salary.append(match)
#         else:
#             salary.append(None)
#         indeed_frame.loc[len(indeed_frame)]=[name, location, company, salary]
#     return indeed_frame.head()

In [681]:
# url = 'https://www.indeed.com/jobs?q=data+scientist+$20,000&l=New+York&start=10' 
# html = requests.get(url)
# soup = BeautifulSoup(html.text, 'html.parser')
# #soup

In [682]:
# loop through each entry
#for entry in html.find_all('div', {'class':'result content-section-list-row cf with-times'}):
    # grab the name
#    name = entry.find('span', {'class': 'rest-row-name-text'}).text
    # grab the location
#    location = entry.find('span', {'class': 'rest-row-meta--location rest-row-meta-text'}).renderContents()
    # grab the price
#    price = entry.find('div', {'class': 'rest-row-pricing'}).find('i').renderContents().count('$')
    # try to find the number of bookings
#    try:
#        temp = entry.find('div', {'class':'booking'}).text
#        match = re.search(r'\d+', temp)
#        if match:
#            bookings = match.group()
#    except:
#        bookings = 'NA'
    # add to df
#    dc_eats.loc[len(dc_eats)]=[name, location, price, bookings]

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [683]:
#df.shape

In [684]:
#df.drop_duplicates

In [685]:
#df.shape

In [686]:
#df_dropped = df[df.Salary.str.contains("None") == False]

In [853]:
df_more = df_more[df_more.Salary.str.contains("hour") == False]
df_more = df_more[df_more.Salary.str.contains("month") == False]

In [854]:
#df_dropped.shape

In [855]:
df_more[60:120]

,Title,Location,Company,Salary,Synopsis
60,Senior Software Engineer - Python (relo required),United States,Spoken Communications,None,You'll find yourself collaborating with world-...
61,"Senior Control Engineer, LabVIEW",United States,Tri Alpha Energy,None,"Networking using Ethernet, EtherNet/IP, Data D..."
62,Occupational Medicine Consultant (Relocation t...,United States,Saudi Aramco,None,Analyze and interpret statistical data for eva...
63,Marketing Integration & Opportunity (MIO),United States,Yahoo,None,We strive for industry-leading work in a diver...
64,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
65,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
66,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
67,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
68,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
69,Pharmaceutical Sales Specialist -- Hospital Ca...,"Roanoke, VA",AstraZeneca,None,Experience working with Medical Information Sc...
70,Staff Software Engineer - UI Front End,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
71,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
72,Russian Linguist/Research Analyst,Virginia,Centra Technology,None,"CENTRA Technology, Inc. has an immediate openi..."
73,Senior Software Engineer - Python (relo required),United States,Spoken Communications,None,You'll find yourself collaborating with world-...
74,"Senior Control Engineer, LabVIEW",United States,Tri Alpha Energy,None,"Networking using Ethernet, EtherNet/IP, Data D..."
75,Occupational Medicine Consultant (Relocation t...,United States,Saudi Aramco,None,Analyze and interpret statistical data for eva...
76,Marketing Integration & Opportunity (MIO),United States,Yahoo,None,We strive for industry-leading work in a diver...
77,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
78,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
79,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
80,Pharmaceutical Sales Specialist -- Hospital Ca...,"Roanoke, VA",AstraZeneca,None,Experience working with Medical Information Sc...
81,Staff Software Engineer - UI Front End,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
82,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
83,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
84,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
85,Russian Linguist/Research Analyst,Virginia,Centra Technology,None,"CENTRA Technology, Inc. has an immediate openi..."
86,Senior Software Engineer - Python (relo required),United States,Spoken Communications,None,You'll find yourself collaborating with world-...
87,"Senior Control Engineer, LabVIEW",United States,Tri Alpha Energy,None,"Networking using Ethernet, EtherNet/IP, Data D..."
88,Occupational Medicine Consultant (Relocation t...,United States,Saudi Aramco,None,Analyze and interpret statistical data for eva...
89,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
90,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
91,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
92,Pharmaceutical Sales Specialist -- Hospital Ca...,"Roanoke, VA",AstraZeneca,None,Experience working with Medical Information Sc...
93,Staff Software Engineer - UI Front End,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
94,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
95,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
96,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
97,Russian Linguist/Research Analyst,Virginia,Centra Technology,None,"CENTRA Technology, Inc. has an immediate openi..."
98,Senior Software Engineer - Python (relo required),United States,Spoken Communications,None,You'll find yourself collaborating with world-...
99,"Senior Control Engineer, LabVIEW",United States,Tri Alpha Energy,None,"Networking using Ethernet, EtherNet/IP, Data D..."
100,Occupational Medicine Consultant (Relocation t...,United States,Saudi Aramco,None,Analyze and interpret statistical data for eva...
101,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
102,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
103,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
104,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
105,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
106,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
107,Pharmaceutical Sales Specialist -- Hospital Ca...,"Roanoke, VA",AstraZeneca,None,Experience working with Medical Information Sc...
108,Staff Software Engineer - UI Front End,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
109,Russian Linguist/Research Analyst,Virginia,Centra Technology,None,"CENTRA Technology, Inc. has an immediate openi..."
110,Senior Software Engineer - Python (relo required),United States,Spoken Communications,None,You'll find yourself collaborating with world-...
111,"Senior Control Engineer, LabVIEW",United States,Tri Alpha Energy,None,"Networking using Ethernet, EtherNet/IP, Data D..."
112,Occupational Medicine Consultant (Relocation t...,United States,Saudi Aramco,None,Analyze and interpret statistical data for eva...
113,Marketing Integration & Opportunity (MIO),United States,Yahoo,None,We strive for industry-leading work in a diver...
114,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
115,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
116,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
117,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
118,Sr Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."
119,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."

In [690]:
#df_dropped  = df_dropped.drop('Unnamed: 0',1)

In [691]:
#df_dropped.head()

In [692]:
#df_dropped = df_dropped.reset_index()
#df_dropped.head()

In [693]:
#df_drop  = df_dropped.drop('index',1)

In [694]:
#df_drop.head()

In [695]:
#df_dropped.drop_duplicates

In [696]:
#df_drop.shape

In [697]:
#df_dropped[50:100]

In [856]:
df_more = df_more[df_more.Salary != 'None'].drop_duplicates().dropna()

In [857]:
df_more.shape

(395, 5)

I have 572 unique jobs with salary data.

In [700]:
#df_dropped[150:200]

In [ ]:
# df_dropped = df_dropped['Salary'].str.strip()
# df_dropped = df_dropped['Title'].str.strip()
# df_dropped = df_dropped['Location'].str.strip()
# df_dropped = df_dropped['Company'].str.strip()
# df_dropped = df_dropped['Synopsis'].str.strip()
# df_dropped.head()

In [510]:
df_drop.Company.dtype

NameError: name 'df_drop' is not defined

In [ ]:
# df_no_desc = df_dropped.drop('Synopsis', axis=1)
# df_no_desc[60:70]

In [ ]:
# df_no_desc.drop_duplicates()

In [ ]:
# df_no_desc

In [ ]:
 for each in dataframe:
        each = each.strip('a year')

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [858]:
print (df_more.shape)
df_more = df_more[df_more.Salary.str.contains("hour") == False]
df_more = df_more[df_more.Salary.str.contains("month") == False]
print (df_more.shape)
df_more.head()

(395, 5)
(395, 5)

,Title,Location,Company,Salary,Synopsis
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"$50,000 - $100,000 a year",We are seeking a mid-level Environmental Scien...
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"$55,000 - $60,000 a year",Produce analyses of crime trends and provide d...
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"$80,000 - $130,000 a year",Requirements of the Data Scientist:. Prominent...
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"$140,000 a year",A major healthcare corporation located right i...
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"$130,000 a year",Hiring for a Senior-Lead Data Scientist for a ...

In [859]:
def salary_stripper(dataframe, column):
    dataframe[str(column)] = dataframe[str(column)].replace({'\$':''}, regex = True)
    dataframe[str(column)].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
    dataframe[str(column)] = dataframe[str(column)].str.replace(' ',',')
    dataframe = dataframe.join(dataframe[str(column)].str.split(',,,', 1, expand=True).rename(columns={0:'Low', 1:'High'}))
    dataframe['Low'] = dataframe['Low'].str.replace(',','')
    dataframe['Low'] = dataframe['Low'].astype('float64')
    dataframe.drop(str(column), axis=1, inplace=True)
    dataframe['High'] = dataframe['High'].str.replace(',','')
    dataframe['High'] = dataframe['High'].apply(pd.to_numeric)
    dataframe['Average'] = dataframe[['Low', 'High']].mean(axis=1)
    return dataframe.head()

In [860]:
salary_stripper(df_more, 'Salary')

,Title,Location,Company,Synopsis,Low,High,Average
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000.0,105000.0
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,NaN,140000.0
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,NaN,130000.0

In [822]:
df_more['Salary'] = df_more['Salary'].replace({'\$':''}, regex = True)
df_more['Salary'].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
df_more['Salary'] = df_more['Salary'].str.replace(' ',',')
df_more = df_more.join(df_more['Salary'].str.split(',,,', 1, expand=True).rename(columns={0:'Salary Low', 1:'Salary High'}))
df_more['Salary Low'] = df_more['Salary Low'].str.replace(',','')
df_more['Salary High'] = df_more['Salary High'].str.replace(',','')
df_more['Salary Low'] = df_more['Salary Low'].astype('float64')
df_more.drop('Salary', axis=1, inplace=True)
df_more['Salary High'] = df_more['Salary High'].apply(pd.to_numeric)
df_more['Average'] = df_more[['Salary Low', 'Salary High']].mean(axis=1)
#df_more.drop('Salary High', axis=1, inplace=True)

In [823]:
df_more.head()

,Title,Location,Company,Synopsis,Salary Low,Salary High,Average
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000.0,105000.0
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,NaN,140000.0
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,NaN,130000.0

In [794]:
for each in df_more['Salary High']:
    if each == '':
        each = None

In [802]:
df_more['Salary High'] = df_more['Salary High'].apply(pd.to_numeric)

In [803]:
df_more.head()

,Title,Location,Company,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000.0
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000.0
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,NaN
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,NaN

In [804]:
df_more['Average'] = df_more[['Salary Low', 'Salary High']].mean(axis=1)

In [805]:
df_more.head()

,Title,Location,Company,Synopsis,Salary Low,Salary High,avg
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000.0,75000.0
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000.0,57500.0
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000.0,105000.0
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,NaN,140000.0
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,NaN,130000.0

In [801]:
df_more.fillna()
df_more.head()

ValueError: must specify a fill method or value

In [795]:
df_more.head()

,Title,Location,Company,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,

In [758]:
df_more.drop('Salary', axis=1, inplace=True)

In [759]:
df_more.head()

,Title,Location,Company,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,We are seeking a mid-level Environmental Scien...,50000.0,100000
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,Produce analyses of crime trends and provide d...,55000.0,60000
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,Requirements of the Data Scientist:. Prominent...,80000.0,130000
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,A major healthcare corporation located right i...,140000.0,
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,Hiring for a Senior-Lead Data Scientist for a ...,130000.0,

In [703]:
df_more['Salary'].replace(regex=True,inplace=True,to_replace=r'\D',value=r' ')
df_more['Salary'] = df_more['Salary'].str.replace(' ',',')

In [705]:
df_more['Salary'] = df_more['Salary'].str.replace(' ',',')

In [706]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"50,000,,,100,000,,,,,,,",We are seeking a mid-level Environmental Scien...
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"55,000,,,60,000,,,,,,,",Produce analyses of crime trends and provide d...
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"80,000,,,130,000,,,,,,,",Requirements of the Data Scientist:. Prominent...
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"140,000,,,,,,,",A major healthcare corporation located right i...
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"130,000,,,,,,,",Hiring for a Senior-Lead Data Scientist for a ...

  first                   row
0    50  000   100 000
1    55   000   60 000
2    80  000   130 000
3   140            000
4   130            000

In [707]:
#df_more['Salary_low', 'Salary_high'] = df_more['Salary'].str.split(',,,')
df_more = df_more.join(df_more['Salary'].str.split(',,,', 1, expand=True).rename(columns={0:'Salary Low', 1:'Salary High'}))
#df.join(df['AB'].str.split('-', 1, expand=True).rename(columns={0:'A', 1:'B'}))
#df['AB_split'] = df['AB'].str.split('-')
df_more.head()

,Title,Location,Company,Salary,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"50,000,,,100,000,,,,,,,",We are seeking a mid-level Environmental Scien...,"50,000","100,000,,,,,,,"
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"55,000,,,60,000,,,,,,,",Produce analyses of crime trends and provide d...,"55,000","60,000,,,,,,,"
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"80,000,,,130,000,,,,,,,",Requirements of the Data Scientist:. Prominent...,"80,000","130,000,,,,,,,"
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"140,000,,,,,,,",A major healthcare corporation located right i...,"140,000",",,,,"
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"130,000,,,,,,,",Hiring for a Senior-Lead Data Scientist for a ...,"130,000",",,,,"

In [710]:
#df_more['Salary Low'] = df_more['Salary Low'].str.replace(',','')
df_more['Salary High'] = df_more['Salary High'].str.replace(',','')

In [711]:
df_more.head()

,Title,Location,Company,Salary,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"50,000,,,100,000,,,,,,,",We are seeking a mid-level Environmental Scien...,50000,100000
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"55,000,,,60,000,,,,,,,",Produce analyses of crime trends and provide d...,55000,60000
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"80,000,,,130,000,,,,,,,",Requirements of the Data Scientist:. Prominent...,80000,130000
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"140,000,,,,,,,",A major healthcare corporation located right i...,140000,
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"130,000,,,,,,,",Hiring for a Senior-Lead Data Scientist for a ...,130000,

In [712]:
df_more['Salary Low'] = df_more['Salary Low'].astype('float64')

In [713]:
df_more['Salary High'] = df_more['Salary High'].astype('float64')

ValueError: could not convert string to float:

In [714]:
df_more.head()

,Title,Location,Company,Salary,Synopsis,Salary Low,Salary High
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"50,000,,,100,000,,,,,,,",We are seeking a mid-level Environmental Scien...,50000.0,100000
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"55,000,,,60,000,,,,,,,",Produce analyses of crime trends and provide d...,55000.0,60000
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"80,000,,,130,000,,,,,,,",Requirements of the Data Scientist:. Prominent...,80000.0,130000
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"140,000,,,,,,,",A major healthcare corporation located right i...,140000.0,
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"130,000,,,,,,,",Hiring for a Senior-Lead Data Scientist for a ...,130000.0,

In [598]:
df_more.Salary = [x.strip().replace(' ', ',') for x in df_more.Salary]
#list2 = [x for ind, x in enumerate(list1) if 4 > ind > 0]
#formatted.columns = [x.strip().replace(' ', '_') for x in formatted.columns]

In [612]:
df_more['Salary Low']  = [x.strip().replace(',', '') for x in df_more['Salary Low']]

KeyError: 'Salary Low'

In [861]:
#salary_stripper(df_more, 'Salary')
df_more.head()

,Title,Location,Company,Salary,Synopsis
1263,Environmental Consultant,"Nashville, TN 37220",LP Environmental,"50,000,,,100,000,,,,,,,",We are seeking a mid-level Environmental Scien...
4001,Research Analyst,"Chicago, IL",Illinois Criminal Justice Information Auth...,"55,000,,,60,000,,,,,,,",Produce analyses of crime trends and provide d...
4176,Data Scientist,"Chicago, IL",Smith Hanley Associates,"80,000,,,130,000,,,,,,,",Requirements of the Data Scientist:. Prominent...
4177,Lead Data Scientist,"Chicago, IL",Workbridge Associates,"140,000,,,,,,,",A major healthcare corporation located right i...
4184,"Lead Data Scientist (Tableau, RShiny, D3)","Chicago, IL",Workbridge Associates,"130,000,,,,,,,",Hiring for a Senior-Lead Data Scientist for a ...

In [871]:
df_more = pd.read_csv('/Users/aakashtandel/Desktop/Indeed_Project_3_df_more.csv', index_col=0)

In [872]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
0,Systems Administrator,"Forest, VA",Innerspec Technologies,None,Manage backup and restore services to ensure t...
1,Environmental Scientist,"Blacksburg, VA",CyberCoders,None,Environmental Scientist If you are an Environm...
2,Senior Manager,United States,Exponent,None,"Providing case management, data processing, an..."
3,Software Engineering Specialist,"Roanoke, VA 24019",General Electric,None,You will work with a group of energized and fo...
4,Staff Software Engineer,"Roanoke, VA 24019",General Electric,None,"Architects, Data Scientists, Businesses & Prod..."

In [873]:
df_more.shape[0] == df_more[df_more.Salary.str.contains('year')]

        Title  Location  Company  Salary  Synopsis
4769    False     False    False   False     False
13843   False     False    False   False     False
13887   False     False    False   False     False
13891   False     False    False   False     False
13938   False     False    False   False     False
14012   False     False    False   False     False
14037   False     False    False   False     False
14042   False     False    False   False     False
14075   False     False    False   False     False
14081   False     False    False   False     False
14085   False     False    False   False     False
14087   False     False    False   False     False
14098   False     False    False   False     False
14112   False     False    False   False     False
14126   False     False    False   False     False
14221   False     False    False   False     False
14233   False     False    False   False     False
14234   False     False    False   False     False
14266   False     False    False   False     False
14294   False     False    False   False     False
14308   False     False    False   False     False
14309   False     False    False   False     False
14370   False     False    False   False     False
14386   False     False    False   False     False
14398   False     False    False   False     False
14428   False     False    False   False     False
14436   False     False    False   False     False
14446   False     False    False   False     False
14447   False     False    False   False     False
14456   False     False    False   False     False
...       ...       ...      ...     ...       ...
179872  False     False    False   False     False
179879  False     False    False   False     False
179888  False     False    False   False     False
179893  False     False    False   False     False
179902  False     False    False   False     False
179907  False     False    False   False     False
179916  False     False    False   False     False
179921  False     False    False   False     False
179930  False     False    False   False     False
179935  False     False    False   False     False
179944  False     False    False   False     False
179949  False     False    False   False     False
179956  False     False    False   False     False
179963  False     False    False   False     False
179971  False     False    False   False     False
179977  False     False    False   False     False
184853  False     False    False   False     False
184855  False     False    False   False     False
184858  False     False    False   False     False
184914  False     False    False   False     False
190106  False     False    False   False     False
190126  False     False    False   False     False
190141  False     False    False   False     False
190157  False     False    False   False     False
190172  False     False    False   False     False
190186  False     False    False   False     False
190201  False     False    False   False     False
190216  False     False    False   False     False
190232  False     False    False   False     False
190246  False     False    False   False     False

[6182 rows x 5 columns]

### Save your results as a CSV

In [ ]:
# Export to csv

## Predicting salaries using Random Forests + Another Classifier

#### Load in the the data of scraped salaries

In [ ]:
## YOUR CODE HERE

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't _have_ to choose the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

In [ ]:
## YOUR CODE HERE

#### Thought experiment: What is the baseline accuracy for this model?

In [ ]:
## YOUR CODE HERE

#### Create a Random Forest model to predict High/Low salary using Sklearn. Start by ONLY using the location as a feature.

In [ ]:
## YOUR CODE HERE

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title or whether 'Manager' is in the title. 
- Then build a new Random Forest with these features. Do they add any value?
- After creating these variables, use count-vectorizer to create features based on the words in the job titles.
- Build a new random forest model with location and these new features included.

In [ ]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy of the model, as well as any other metrics you feel are appropriate.

In [ ]:
## YOUR CODE HERE

#### Repeat the model-building process with a non-tree-based method.

In [ ]:
## YOUR CODE HERE

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the job descriptions. 
- Examine using count or binary features in the model
- Re-evaluate your models using these. Does this improve the model performance? 
- What text features are the most valuable?

In [ ]:
## YOUR CODE HERE